.logo-name {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-left: 50px;
  color: white;
}
.navbarEdit {
  background-color: rgb(255, 255, 255);
}

.HeroBannerContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}
.whoWeAre {
  background-color: #eaf4fc;
}
.scheduleConsultation {
  background-color: #eaf4fc;
}
.ourService {
  background-color: #f0f9f4;
}
.dCard {
  border: none !important;
}
.card {
  border: none !important; /* Remove border from the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Add shadow to the card */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

/* Style on hover */
.card:hover {
  transform: scale(1.05); /* Scale the card to 105% of its original size */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}
